.confirm_popup {
  .text {
    white-space: nowrap;
    margin-bottom: 10px;
    color: $game_color_yellow;
    font-weight: bold;
  }
  
  .confirm_controls {
    white-space: nowrap;
    text-align: center;

    button {
      margin-right: 10px;
    }

    .cancel {
      @extend %flat-button;
    }
  }
}