#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
  height: 640px;
  width: 200px;

  .experience, .vip_money, .level, .basic_money {
    position: absolute;
  }

  .experience {
    @include progress-bar(50, 8);

    .progress_bar {
      @include border-radius(0px);
      border: 1px solid #ccc;

      .percentage {
        @include border-radius(0px);
      }
    }

    top: 15px;
    left: 78px;
    cursor: pointer;
  }

  .level {
    top: 5px;
    left: 28px;
    width: 50px;
    height: 25px;
    border: 1px solid #ccc;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";
      @include images-sprite(icons/level);
    }

    .value {
      font-size: 18px;
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 25px;
    }
  }

  .vip_money {
    top: 45px;
    left: 30px;
    width: 80px;
    height: 20px;
    border: 1px solid #ccc;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";
      @include images-sprite(icons/vip_money);
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }

    .add {
      position: absolute;
      top: -3px;
      right: -15px;
      @include images-sprite(ui/add);
      cursor: pointer;
    }
  }

  .basic_money {
    top: 80px;
    left: 30px;
    width: 120px;
    height: 20px;
    border: 1px solid #ccc;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/basic_money)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }
  }

  .main_menu {
    position: absolute;
    top: 130px;
    left: 0px;
    width: 200px;

    .menu {
      border-top: 1px solid #ccc;
      text-align: center;
      line-height: 35px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #ccc;
      }

      &:last-child {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

#experience_to_next_level {
  width: 160px;
  text-align: center;

  .value {
    color: $game_color_yellow;
  }
}