$transport_groups: truck, tractor, trailer, semitrailer;

#transport {
  .tabs {
    @extend %tabs;
  }

  .groups {
    margin: 15px 0;

    .group {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
      border: 1px solid transparent;

      &.current {
        border: 1px solid $game_color_red;
      }

      @each $group in $transport_groups {
        &.#{$group} {
          @include images-sprite(shop_groups/#{$group});
        }
      }
    }
  }
}