$transport_groups: truck, tractor, trailer, semitrailer;

#transport {
  .tabs {
    @extend %tabs;
  }

  .groups {
    margin: 15px 0;

    .group {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
      border: 1px solid transparent;
      @include border-radius(5px);

      &.current {
        border: 1px solid #383838;
      }

      @each $group in $transport_groups {
        &.#{$group} {
          @include images-sprite(shop_groups/#{$group});
        }
      }
    }
  }

  .list {
    @include pagination;

    .transport_model {
      position: relative;
      height: 140px;
      background-color: rgba(0, 0, 0, 0.1);
      @include border-radius(5px);
      margin-bottom: 15px;
      border: 1px solid #ccc;

      .picture, .info {
        display: inline-block;
        vertical-align: top;
      }

      .picture {
        img {
          width: 140px;
          height: 140px;
          @include border-radius(5px);
        }
      }

      .price {
        position: absolute;
        top: 5px;
        right: 5px;

        .label, .requirement {
          display: inline-block;
          vertical-align: middle;
        }

        .label {
          font-weight: bold;
        }

        .requirement {
          margin: 0;
        }

        .label {
          line-height: 15px;
        }
      }

      .info {
        margin: 5px 0 0 5px;

        .attribute {
          .att_name, .value {
            display: inline-block;
            vertical-align: middle;
            line-height: 23px;
          }

          .att_name {
            font-weight: bold;
          }
        }

        .name {
          font-weight: bold;
          font-size: 15px;
          color: #003e6d;
          margin-bottom: 5px;
        }

        .status {
          .status_info, .timer {
            display: inline-block;
            vertical-align: middle;
          }

          .status_info {
            color: $game_color_red;
          }
        }
      }

      > .controls {
        position: absolute;
        bottom: 5px;
        right: 5px;

        .timer {
          .label {
            font-weight: bold;
          }
        }
      }

      .result_anchor {
        top: 20px;
      }
    }
  }
}