.properties.page {
  .list {
    @include pagination;
    margin-top: 20px;
    text-align: center;

    .property {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 240px;
      height: 240px;
      background-color: rgba(0, 0, 0, 0.1);
      @include border-radius(5px);
      margin-bottom: 10px;

      &:nth-child(odd) {
        margin-right: 5px;
      }

      .name {
        text-align: center;
        background-color: #0086b3;
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
        line-height: 25px;
        @include border-top-radius(5px);
      }

      .picture {
        img {
          width: 240px;
          height: 120px;
        }
      }

      .info {
        padding-top: 5px;

        .warning_label {
          color: $game_color_red;
        }

        .timer {
          margin-top: 5px;
        }
      }

      > .controls {
        position: absolute;
        bottom: 5px;
        right: 5px;

        .timer {
          .label {
            font-weight: bold;
          }
        }
      }

      .result_anchor {
        top: 200px;
      }
    }
  }
}