.page.routes {
  .groups {
    margin: 10px 0;

    .group {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      cursor: pointer;
      border: 1px solid transparent;

      &.current {
        border: 1px solid $game_color_red;
      }

      &.coal_route_group {
        @include images-sprite(icons/coal);
      }

      &.wood_route_group {
        @include images-sprite(icons/wood);
      }
    }
  }

  .list {
    @include pagination;

    .locked_group {
      margin-top: 10px;
      color: $game_color_red;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: bottom;

        @include images-sprite(icons/lock);
      }
    }

    .route {
      position: relative;
      width: 235px;
      height: 145px;
      background-color: rgba(0, 0, 0, 0.1);
      @include border-radius(5px);
      margin: 0 5px 10px 5px;
      border: 1px solid #000;
      display: inline-block;
      vertical-align: top;

      &.locked {
        .info {
          opacity: 0.3;
        }

        .level {
          background-color: rgba(0, 0, 0, 1);
          color: $game_color_red;
          position: absolute;
          top: 60px;
          left: 0px;
          text-align: center;
          width: 100%;
          line-height: 20px;

          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            @include images-sprite(icons/lock);
          }
        }
      }

      .info {
        margin: 5px 0 0 5px;

        .freight {
          .label {
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
          }

          .value {
            display: inline-block;
            vertical-align: middle;

            &.coal {
              @include images-sprite(icons/coal);
            }

            &.wood {
              @include images-sprite(icons/wood);
            }
          }
        }

        .distance, .weight {
          margin-top: 5px;
        }

        .rewards {
          margin-top: 10px;

          .reward {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .controls {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  }
}