.inner_page.routes {
  .types {
    margin-top: 20px;

    .type {
      display: inline-block;
      cursor: pointer;
      margin: 25px 55px;

      //@include images-sprite-dimensions(transport_types/truck);
      //
      //&.auto {
      //  @include images-sprite-background(transport_types/truck);
      //}
      //
      //&.railway {
      //  @include images-sprite-background(transport_types/train);
      //}
      //
      //&.air {
      //  @include images-sprite-background(transport_types/plane);
      //}
      //
      //&.sea {
      //  @include images-sprite-background(transport_types/ship);
      //}
    }
  }

  .list {
    margin-top: 20px;
    @include pagination;

    .route {
      position: relative;
      width: 500px;
      height: 120px;
      background-color: rgba(0, 0, 0, 0.1);
      @include border-radius(5px);
      margin-bottom: 10px;
      border: 1px solid #000;

      .picture {
        img {
          width: 120px;
          height: 120px;
          @include border-radius(5px);
        }
      }

      .picture, .info {
        display: inline-block;
        vertical-align: top;
      }


      .info {
        margin: 5px 0 0 5px;

        .name {
          font-size: 15px;
          font-weight: bold;
        }

        .distance, .weight {
          margin-top: 5px;
        }

        .rewards {
          margin-top: 10px;

          .reward {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .timer {
        position: absolute;
        top: 5px;
        right: 5px;
        padding-left: 22px;
        line-height: 20px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          @include images-sprite(icons/time);
        }
      }

      button.start {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  }
}