.page.routes {
  .types {
    margin-top: 20px;

    .type {
      display: inline-block;
      cursor: pointer;
      margin: 25px 55px;

      @include images-sprite-dimensions(icons/truck);

      &.auto {
        @include images-sprite-background(icons/truck);
      }

      &.railway {
        @include images-sprite-background(icons/train);
      }

      &.air {
        @include images-sprite-background(icons/plane);
      }

      &.sea {
        @include images-sprite-background(icons/ship);
      }
    }
  }
}