.page.town {
  > .controls {
    text-align: right;
  }

  .trading {
    .trading_info {
      .timer, .text {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .materials {
      margin-top: 15px;

      .material {
        &.locked {
          opacity: 0.5;
        }
      }

      .material_popup {
        white-space: nowrap;

        .locked_material {
          color: $game_color_red;

          .text, &:before {
            display: inline-block;
            vertical-align: middle;
          }

          &:before {
            content: '';

            @include images-sprite(icons/lock);
          }
        }
      }
    }
  }
}