.page.transport {
  .types {
    margin-top: 20px;

    .type {
      display: inline-block;
      cursor: pointer;
      margin: 25px 55px;
      width: 120px;
      height: 120px;
    }
  }

  .list {
    margin-top: 20px;
    @include pagination;

    .transport_item {
      position: relative;
      padding: 10px;
      border: 1px solid #ca9943;
      background: rgba(202, 153, 67, 0.1);

      .picture, .info {
        display: inline-block;
        vertical-align: top;
      }

      .info {
        .name {
          font-size: 15px;
          font-weight: bold;
        }
      }

    }
  }
}