$transport_groups: sea, auto, air, railway;

.page.transport {
  .groups {
    margin-top: 10px;

    .group {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
      border: 1px solid transparent;

      &.current {
        border: 1px solid $game_color_red;
      }

      @each $group in $transport_groups {
        &.#{$group} {
          @include images-sprite(shop_groups/#{$group});
        }
      }
    }
  }

  .list {
    @include pagination;
    margin-top: 25px;

    .transport {
      position: relative;
      @include border-radius(5px);
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #000;
      margin-bottom: 10px;
      height: 120px;

      .picture, .info {
        display: inline-block;
        vertical-align: top;
      }

      .picture {
        img {
          width: 120px;
          height: 120px;
          @include border-radius(5px);
        }
      }

      .info {
        margin: 5px 0 0 5px;

        .name {
          font-weight: bold;
          font-size: 15px;
          color: $game_color_yellow;
          margin-bottom: 5px;
        }

        .attribute {
          .att_name, .value {
            display: inline-block;
            vertical-align: middle;
            line-height: 17px;
          }

          .att_name {
            font-weight: bold;
          }
        }
      }

      .controls {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  }
}