body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; // optimal font
  color: #353535;
  //text-shadow: 0px 1px 1px #CCC;
  @include user-select(none);
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

h4 {
  font-size: 12px;
  font-weight: bold;
}

.tips {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.1);
  @include border-radius(5px);

  strong {
    font-weight: bold;
  }
}

.info-icon {
  display: inline-block;
  @include images-sprite(icons/info);
  cursor: pointer;
}

.time-icon {
  display: inline-block;
  @include images-sprite(icons/time);
}

.trucking-icon {
  display: inline-block;
  @include images-sprite(icons/auto);
}

.timer {
  .time-icon, .value {
    display: inline-block;
    vertical-align: middle;
  }
}

.result_anchor {
  position: absolute;
  top: 50%;
  left: 50%;
}

.red {
  color: $game_color_red;
}