.header {
  position: absolute;
  top: 0px;
  left: 200px;

  .basic_money, .reputation, {
    position: absolute;
  }

  .basic_money {
    top: 10px;
    left: 40px;
    width: 120px;
    height: 20px;
    border: 1px solid #000;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/basic_money)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }
  }

  .reputation {
    top: 10px;
    left: 320px;
    width: 100px;
    height: 20px;
    border: 1px solid #000;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/reputation)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }
  }
}

