.header {
  position: absolute;
  top: 0px;
  left: 200px;

  .basic_money, .reputation, .fuel {
    position: absolute;
  }

  .basic_money {
    top: 10px;
    left: 40px;
    width: 120px;
    height: 20px;
    border: 1px solid #000;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/basic_money)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }
  }

  .reputation {
    top: 10px;
    left: 220px;
    width: 100px;
    height: 20px;
    border: 1px solid #000;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/reputation)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }
  }

  .fuel {
    top: 10px;
    left: 400px;
    width: 100px;
    height: 20px;
    border: 1px solid #000;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/fuel)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }

    .add {
      position: absolute;
      top: -3px;
      right: -15px;
      @include images-sprite(ui/add);
      cursor: pointer;
    }
  }
}

