// ВНИМАНИЕ
//
// Этот файл автоматически генерируется программой TexturePacker! Вы НЕ должны менять его вручную.
// Чтобы внести изменения в этот файл нужно внести изменения в шаблон и перегенерировать спрайт.


$images_image_url: image-url('images.png');

$images_piece_names: advertising_status/normal, advertising_status/premium, advertising_status/vip, icons/accept, icons/achievement, icons/add, icons/air, icons/alliance, icons/app_requests, icons/auto, icons/basic_money, icons/chat, icons/collections, icons/credits, icons/delete, icons/drag_n_drop_item, icons/exchange, icons/experience, icons/fuel, icons/gift, icons/help, icons/hide, icons/home, icons/info, icons/inventory, icons/level, icons/lock, icons/next, icons/previous, icons/profile, icons/properties, icons/publish, icons/quests, icons/railway, icons/rating, icons/reputation, icons/sea, icons/shop, icons/step, icons/time, icons/vip_money, shop_groups/air, shop_groups/auto, shop_groups/fuel, shop_groups/railway, shop_groups/sea, shop_groups/semitrailer, shop_groups/tractor, shop_groups/trailer, shop_groups/truck, trucking_placeholder, ui/add, ui/add_50x50, ui/arrow_left, ui/arrow_right, ui/button, ui/close_icon, ui/round, ui/round_checked;
$images_piece_widths: 120px, 120px, 120px, 20px, 16px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 120px, 28px, 50px, 23px, 23px, 300px, 20px, 15px, 15px;
$images_piece_heights: 120px, 120px, 120px, 20px, 16px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 120px, 27px, 50px, 34px, 33px, 23px, 20px, 15px, 15px;
$images_piece_positions_x: 1px, 123px, 245px, 489px, 843px, 511px, 533px, 555px, 577px, 599px, 621px, 643px, 665px, 679px, 687px, 701px, 709px, 723px, 731px, 745px, 753px, 687px, 767px, 789px, 811px, 833px, 679px, 701px, 723px, 745px, 767px, 789px, 811px, 833px, 667px, 689px, 711px, 733px, 755px, 777px, 799px, 489px, 489px, 521px, 521px, 553px, 553px, 585px, 585px, 617px, 367px, 649px, 791px, 617px, 642px, 489px, 821px, 843px, 843px;
$images_piece_positions_y: 1px, 1px, 1px, 26px, 1px, 26px, 26px, 26px, 26px, 26px, 26px, 26px, 26px, 48px, 26px, 48px, 26px, 48px, 26px, 48px, 26px, 26px, 48px, 53px, 53px, 53px, 70px, 70px, 70px, 70px, 70px, 75px, 75px, 75px, 92px, 92px, 92px, 92px, 92px, 97px, 97px, 53px, 85px, 48px, 80px, 48px, 80px, 48px, 80px, 48px, 1px, 48px, 1px, 80px, 80px, 1px, 97px, 19px, 36px;

@function images-sprite-width($name) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    @return nth($images_piece_widths, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function images-sprite-height($name) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    @return nth($images_piece_heights, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function images-sprite-position($name, $x_offset: 0, $y_offset: 0) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    $x: nth($images_piece_positions_x, $index);
    $y: nth($images_piece_positions_y, $index);

    @return ($x_offset - $x) ($y_offset - $y);
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@mixin images-sprite-dimensions($name, $force: null) {
  @if $force != null {
    width: images-sprite-width($name) !important;
    height: images-sprite-height($name) !important;
  } @else {
    width: images-sprite-width($name);
    height: images-sprite-height($name);
  }
}

@mixin images-sprite-background($name) {
  background: {
    repeat: no-repeat;
    image: $images_image_url;
    position: images-sprite-position($name);
  }
}

@mixin images-sprite($name, $force_dimensions: null) {
  @include images-sprite-dimensions($name, $force_dimensions);
  @include images-sprite-background($name);
}

// $TexturePacker:SmartUpdate:fddcdeb23f58eeb663d30abce49103ac:e133cbce1bfde3991a034c1a886e426d:376d2bb6512222bd8af7f4ca32620778$