// ВНИМАНИЕ
//
// Этот файл автоматически генерируется программой TexturePacker! Вы НЕ должны менять его вручную.
// Чтобы внести изменения в этот файл нужно внести изменения в шаблон и перегенерировать спрайт.


$images_image_url: image-url('images.png');

$images_piece_names: icons/accept, icons/achievement, icons/add, icons/air, icons/alliance, icons/app_requests, icons/auto, icons/basic_money, icons/chat, icons/collections, icons/credits, icons/delete, icons/drag_n_drop_item, icons/exchange, icons/experience, icons/fuel, icons/gift, icons/help, icons/hide, icons/home, icons/info, icons/inventory, icons/level, icons/lock, icons/next, icons/previous, icons/profile, icons/properties, icons/publish, icons/quests, icons/railway, icons/rating, icons/reputation, icons/sea, icons/shop, icons/step, icons/time, icons/vip_money, shop_groups/air, shop_groups/auto, shop_groups/fuel, shop_groups/railway, shop_groups/sea, shop_groups/semitrailer, shop_groups/tractor, shop_groups/trailer, shop_groups/truck, trucking_placeholder, ui/add, ui/add_50x50, ui/arrow_left, ui/arrow_right, ui/button, ui/close_icon, ui/round, ui/round_checked;
$images_piece_widths: 20px, 16px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 120px, 28px, 50px, 23px, 23px, 300px, 20px, 15px, 15px;
$images_piece_heights: 20px, 16px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 120px, 27px, 50px, 34px, 33px, 23px, 20px, 15px, 15px;
$images_piece_positions_x: 257px, 457px, 279px, 1px, 23px, 45px, 67px, 89px, 111px, 133px, 155px, 177px, 199px, 221px, 243px, 265px, 1px, 23px, 177px, 45px, 67px, 89px, 111px, 133px, 155px, 177px, 199px, 221px, 243px, 265px, 1px, 23px, 45px, 67px, 89px, 111px, 133px, 155px, 425px, 1px, 33px, 65px, 97px, 129px, 161px, 193px, 225px, 303px, 257px, 425px, 425px, 450px, 1px, 177px, 457px, 199px;
$images_piece_positions_y: 55px, 88px, 55px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 77px, 77px, 80px, 80px, 58px, 80px, 80px, 80px, 80px, 80px, 80px, 80px, 80px, 80px, 99px, 99px, 102px, 102px, 102px, 102px, 102px, 102px, 102px, 102px, 89px, 26px, 26px, 26px, 26px, 26px, 26px, 26px, 26px, 1px, 26px, 1px, 53px, 53px, 1px, 102px, 106px, 102px;

@function images-sprite-width($name) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    @return nth($images_piece_widths, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function images-sprite-height($name) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    @return nth($images_piece_heights, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function images-sprite-position($name, $x_offset: 0, $y_offset: 0) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    $x: nth($images_piece_positions_x, $index);
    $y: nth($images_piece_positions_y, $index);

    @return ($x_offset - $x) ($y_offset - $y);
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@mixin images-sprite-dimensions($name, $force: null) {
  @if $force != null {
    width: images-sprite-width($name) !important;
    height: images-sprite-height($name) !important;
  } @else {
    width: images-sprite-width($name);
    height: images-sprite-height($name);
  }
}

@mixin images-sprite-background($name) {
  background: {
    repeat: no-repeat;
    image: $images_image_url;
    position: images-sprite-position($name);
  }
}

@mixin images-sprite($name, $force_dimensions: null) {
  @include images-sprite-dimensions($name, $force_dimensions);
  @include images-sprite-background($name);
}

// $TexturePacker:SmartUpdate:c335b960b9aac7e205a1484dd2b611f1:e6828d83a3a4c0480850d735b24d51fd:376d2bb6512222bd8af7f4ca32620778$