// ВНИМАНИЕ
//
// Этот файл автоматически генерируется программой TexturePacker! Вы НЕ должны менять его вручную.
// Чтобы внести изменения в этот файл нужно внести изменения в шаблон и перегенерировать спрайт.


$images_image_url: image-url('images.png');

$images_piece_names: advertising_status/normal, advertising_status/premium, advertising_status/vip, icons/accept, icons/achievement, icons/add, icons/alliance, icons/app_requests, icons/basic_money, icons/chat, icons/collections, icons/credits, icons/delete, icons/drag_n_drop_item, icons/exchange, icons/experience, icons/fuel, icons/gift, icons/help, icons/hide, icons/home, icons/inventory, icons/level, icons/lock, icons/next, icons/previous, icons/profile, icons/properties, icons/publish, icons/quests, icons/rating, icons/reputation, icons/shop, icons/step, icons/time, icons/vip_money, shop_groups/air, shop_groups/auto, shop_groups/fuel, shop_groups/railway, shop_groups/sea, shop_groups/semitrailer, shop_groups/tractor, shop_groups/trailer, shop_groups/truck, trucking_placeholder, ui/add, ui/add_50x50, ui/arrow_left, ui/arrow_right, ui/button, ui/close_icon, ui/round, ui/round_checked;
$images_piece_widths: 120px, 120px, 120px, 20px, 16px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 120px, 28px, 50px, 23px, 23px, 300px, 20px, 15px, 15px;
$images_piece_heights: 120px, 120px, 120px, 20px, 16px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 20px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 120px, 27px, 50px, 34px, 33px, 23px, 20px, 15px, 15px;
$images_piece_positions_x: 303px, 425px, 547px, 277px, 53px, 791px, 71px, 93px, 115px, 137px, 159px, 181px, 203px, 225px, 247px, 65px, 65px, 87px, 87px, 203px, 109px, 109px, 131px, 131px, 153px, 153px, 175px, 175px, 197px, 197px, 219px, 219px, 241px, 241px, 277px, 263px, 1px, 53px, 85px, 117px, 149px, 181px, 213px, 245px, 33px, 669px, 791px, 1px, 791px, 791px, 1px, 263px, 285px, 285px;
$images_piece_positions_y: 1px, 1px, 1px, 26px, 58px, 101px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 58px, 80px, 102px, 80px, 102px, 58px, 80px, 102px, 80px, 102px, 80px, 102px, 80px, 102px, 80px, 102px, 80px, 102px, 80px, 102px, 48px, 80px, 78px, 26px, 26px, 26px, 26px, 26px, 26px, 26px, 78px, 1px, 1px, 26px, 30px, 66px, 1px, 102px, 70px, 87px;

@function images-sprite-width($name) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    @return nth($images_piece_widths, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function images-sprite-height($name) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    @return nth($images_piece_heights, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function images-sprite-position($name, $x_offset: 0, $y_offset: 0) {
  $index: index($images_piece_names, $name);

  @if $index != null {
    $x: nth($images_piece_positions_x, $index);
    $y: nth($images_piece_positions_y, $index);

    @return ($x_offset - $x) ($y_offset - $y);
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@mixin images-sprite-dimensions($name, $force: null) {
  @if $force != null {
    width: images-sprite-width($name) !important;
    height: images-sprite-height($name) !important;
  } @else {
    width: images-sprite-width($name);
    height: images-sprite-height($name);
  }
}

@mixin images-sprite-background($name) {
  background: {
    repeat: no-repeat;
    image: $images_image_url;
    position: images-sprite-position($name);
  }
}

@mixin images-sprite($name, $force_dimensions: null) {
  @include images-sprite-dimensions($name, $force_dimensions);
  @include images-sprite-background($name);
}

// $TexturePacker:SmartUpdate:ea75f590e800b858203e8d55e07af52e:e875e9b747da54dfb67a53035f4e5f3a:376d2bb6512222bd8af7f4ca32620778$