.wrapper {
  position: relative;
  margin: auto;
  width: $app_width;
  height: $app_height;
  border: 1px solid #000000;
}

.page_wrapper {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 520px;

  > .page {
    padding: 10px;

    strong {
      font-weight: bold;
    }

    .head_controls {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

#application {
  position: relative;

  .notification {
    z-index: 10000;
    position: absolute;
    top: 150px;
    left: 50%;
  }
}

.loading {
  background-image: image-url("spinner.gif");
  width: 48px;
  height: 48px;
  margin: auto;
}
