.property_build_popup {
  .build_duration {
    white-space: nowrap;
  }

  .price {
    margin-bottom: 10px;
    white-space: nowrap;

    .value {
      .requirement {
        display: inline-block;
      }
    }
  }

  .controls {
    white-space: nowrap;
    text-align: center;

    .start_build {
      margin-right: 10px;
    }

    .cancel {
      @extend %flat-button;
    }
  }
}