.buy_fuel.modal {
  .info, .selector, .cost {
    display: inline-block;
    vertical-align: middle;
  }

  .info {
    margin-right: 20px;

    .price {
      .label {
        font-weight: bold;
      }

      .requirement {
        display: inline-block;
      }
    }
  }

  .selector {
    margin-right: 20px;

    &.disabled {
      opacity: 0.5;
    }

    .minus, .plus, .fuel_value {
      display: inline-block;
      vertical-align: middle;
      margin: 0 2px;
    }

    .minus {
      @include images-sprite(icons/delete);
      cursor: pointer;
    }

    .plus {
      @include images-sprite(icons/add);
      cursor: pointer;
    }

    .fuel_value {
      width: 30px;
      text-align: center;
    }
  }

  .cost {
    .label {
      font-weight: bold;
    }

    .requirement {
      display: inline-block;
    }
  }

  .controls {
    margin-top: 20px;
  }
}