.new_advertising.modal {
  .advertising_types {
    text-align: center;

    .title {
      text-align: left;
    }

    .advertising_type {
      display: inline-block;
      vertical-align: top;
      width: 105px;
      height: 125px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      @include border-radius(5px);
      margin: 10px;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;

      &.selected {
        border: 1px solid #FF3333;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .picture {
        img {
          width: 100px;
          height: 100px;
        }
      }

      .name {
        margin-top: 5px;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .period {
    margin-top: 20px;

    .amount {
      display: inline-block;
      margin: 10px 0 0 10px;

      .radio_input, .value {
        display: inline-block;
        vertical-align: middle;
      }

      .radio_input {
        margin-right: 2px;
        @include images-sprite(ui/round);
        cursor: pointer;

        &.selected {
          @include images-sprite-background(ui/round_checked);
        }
      }
    }
  }

  .status {
    margin-top: 20px;
    text-align: center;

    .title {
      text-align: left;
    }

    .status_item {
      display: inline-block;
      vertical-align: top;
      width: 105px;
      height: 125px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      @include border-radius(5px);
      margin: 10px;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;

      &.selected {
        border: 1px solid #FF3333;
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.locked {
        .picture {
          opacity: 0.3;
        }

        .level {
          background-color: rgba(0, 0, 0, 1);
          color: $game_color_red;
          position: absolute;
          top: 50%;
          left: 0px;
          text-align: center;
          width: 100%;
          line-height: 20px;

          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            @include images-sprite(icons/lock);
          }
        }
      }

      .picture {
        img {
          width: 100px;
          height: 100px;
        }
      }

      .name {
        margin-top: 5px;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .time_generation {
    margin-top: 20px;

    .label {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .price {
    margin-top: 20px;

    .label {
      font-size: 14px;
      font-weight: bold;
    }
    
    .value {
      .requirement {
        display: inline-block;
      }
    }
  }

  .controls {
    margin-top: 20px;
  }
}