.new_trucking.modal {
  #slider {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin-left: 20px;
  }

  .section {
    margin-bottom: 15px;

    .name, .value {
      display: inline-block;
      vertical-align: middle;
    }

    .name {
      font-weight: bold;
      font-size: 14px;
    }

    .value {
      margin-left: 5px;
      position: relative;

      .add {
        @include images-sprite(ui/add_50x50);
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
      }

      .delete {
        position: absolute;
        top: -5px;
        right: -5px;
        @include images-sprite(ui/close_icon);
        cursor: pointer;
      }

      .picture {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 10px;
      }
    }
  }

  .sending_place, .destination, .transport {
    .value {
      height: 55px;

      img {
        width: 50px;
        height: 50px;
        @include border-radius(10px);
        border: 1px solid #cccccc;
      }
    }
  }

  .ship {
    .value {
      .material {
        margin-left: 15px;
      }
    }

    .current_cargo {
      width: 50px;
      text-align: center;
    }
  }

  .controls {
    margin-top: 40px;
  }
}