.start_route.modal {
  .info {
    margin-bottom: 10px;

    .name, .distance, .weight, .total_capacity {
      margin-bottom: 5px;
    }
  }

  .transport_list {
    margin-bottom: 10px;

    h3 {
      margin-bottom: 10px;
    }

    .add {
      @include images-sprite(ui/add_50x50);
      cursor: pointer;
    }
  }

  .fuel_requirement {
    margin-bottom: 10px;
  }
}